# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Assets/Scenes/SceneTestRemi.unity.meta
Assets/Scenes/Main.unity
Assets/Scenes/Main.unity
Assets/Scripts/ArmBehavior.cs
Assets/Scripts/ArmBehavior.cs
Assets/Scripts/ArmBehavior.cs
*.meta
Assets/Art/Base pack (360 assets)/Player/p1_walk.meta
Assets/Art/Base pack (360 assets)/Player/p1_walk.meta~HEAD
Assets/Art/Base pack (360 assets)/Player/p1_walk.meta~HEAD.meta
Assets/Scenes/Main.unity
Assets/Art/LD/ADN-Collectibles/ADN0015.controller
Assets/Art/LD/ADN-Collectibles/ADN0015.controller
Assets/Art/LD/ADN-Collectibles/Anim.anim
Assets/Sprites/LD/ADN-Collectibles/ADN0002.controller